body
{
	border: 20px solid #bdc3c7;
	padding: 20px;
	/*max-width: 700px;*/
	width: 80%;
	margin: 20 auto;
	font-family: source sans pro;
	text-align: center;
}

.quote
{
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}
.date
{
	color: #3298db;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 0.2rem;
}

h2
{
	color: #2c3e50;
}
hr
{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
.post
{
	margin: 20px;
}