img
{
	width: 30%;
	float: left; 
	margin: 1.66%;

}
p
{
	font-family: Open Sans;
	margin-left: 1.66%;
	font-weight:800; 
	font-size:23px;
	text-transform: uppercase;
	border-bottom: 3px solid #D3D3D3;
	width: 30%;
	padding-bottom: 20px;
}