/*Fonts reffered from www.cssfontstack.com nd fonts.google.com*/ 

p
{
	font-family:  Calibri;

}

body
{
	font-size: 25px;
	font-family: Fascinate
}

h1
{
	font-family: Hanalei; 
}
h1
{
	font-size: 25px;
	font-weight: 800;
}
p
{
	font-size: 20px;
}
span
{
	font-size: 2.0em;

}
p
{
	font-weight: bold;
}
p
{
	line-height: 1.5;

}
h1
{
	text-align: center;
}
p
{
	text-align: center;
}
p
{
	text-decoration: underline;
}